root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
line_length = 81

[*.js]
indent_size = 2
line_length = 119

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.md]
indent_size = 3

[*.py]
line_length = 119
