[flake8]
filename = *.py
max-line-length = 119
exclude = .git,
          .venv,
          input,
          output,
          __pycache__,
          migrations
inline-quotes = double
max-complexity = 12
