[rerere]
	enabled = true
	excludesfile = /home/willertj/.gitignore_global
[init]
    defaultBranch = main
[maintenance]
    repo = /home/willertj/configs
[includeIf "gitdir:~/configs/"]
	path = "~/.gitconfig-personal"
[includeIf "gitdir:~/priv/"]
	path = "~/.gitconfig-personal"
[includeIf "gitdir:~/42/"]
	path = "~/.gitconfig-42"
[remote "origin"]
	prune = true
