[rerere]
	enabled = true
	excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main
[maintenance]
    repo = ~/configs
[includeIf "gitdir:~/configs/"]
	path = "~/.gitconfig_personal"
[includeIf "gitdir:~/private/"]
	path = "~/.gitconfig_personal"
[includeIf "gitdir:~/42/"]
	path = "~/.gitconfig_42"
[includeIf "gitdir:~/iss/"]
	path = "~/.gitconfig_iss"
[remote "origin"]
    prune = true
[core]
    editor = vim
